<h1 mat-dialog-title>
  <mat-form-field style="width: 100%;">
    <input type="text"
           matInput
           placeholder="Title"
           [(ngModel)]="task.title">
  </mat-form-field>
</h1>
<div mat-dialog-content>
  <mat-form-field style="width: 100%;">
    <mat-chip-list #chiplist>
      <mat-chip *ngFor="let tag of tags"
                [removable]="removable"
                (remove)="remove(tag)">
        {{tag.title}}
        <mat-icon matChipRemove
                  *ngIf="removable">cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
    <input placeholder="New tag"
           [matChipInputFor]="chiplist"
           [matAutocomplete]="auto"
           [formControl]='tagsCtrl'
           (matChipInputTokenEnd)="add($event)" />
  </mat-form-field>
  <mat-autocomplete #auto="matAutocomplete"
                    (optionSelected)="selected($event)"
                    [displayWith]="set_null">
    <mat-option *ngFor="let tag of filteredTags | async"
                [value]="tag">
      {{tag.title}}
    </mat-option>
  </mat-autocomplete>
  <mat-radio-group style="text-align: left;"
                   [(ngModel)]="task.priority">
    <mat-radio-button value=1>1</mat-radio-button>
    <mat-radio-button value=2>2</mat-radio-button>
    <mat-radio-button value=3>3</mat-radio-button>
    <mat-radio-button value=4>4</mat-radio-button>
    <mat-radio-button value=5>5</mat-radio-button>
  </mat-radio-group>
  <br>
  <mat-form-field style="width: 100%;">
    <textarea matInput
              placeholder="Description"
              [(ngModel)]="task.description"></textarea>
  </mat-form-field>
  <mat-form-field *ngFor="let stask of subtasks"
                  style="width: 100%;">
    <input type="text"
           matInput
           placeholder="New Subtask"
           [(ngModel)]="stask.title"
           (change)="add_subtask(stask)">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-dialog-close
          mat-button
          (click)="closeDialog()">Close</button>
  <button mat-button
          (click)="onOkClick()">OK</button>
</div>