/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 30px;
}

.example-header,  {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.mat-cell, .mat-header-cell{
  flex: unset;
  overflow: visible;

}
.mat-row{
  padding: 0 0 0 10px;
  height: 10px;
}
.mat-card {
  width: 500px;
}
.mat-table {
  overflow: hidden;
  max-height: 500px;
}
.mat-column-completed {
  width: 50px !important;
  padding: unset;
}
.add-edit-input{
  width: 100%;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
