<div class="app-content">
  <div class="example-container">

    <mat-card>
      <!-- <mat-card-header>
        <p>Tasks</p>
        <button mat-icon-button (click)='openDialog()'><mat-icon>add</mat-icon></button>
      </mat-card-header> -->
      <button mat-icon-button (click)='openNewDialog()'><mat-icon>add</mat-icon></button>
      <mat-table #table [dataSource]="dataSource" matSort>

        <!-- Position Column  -->
        <ng-container matColumnDef="completed">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let Task" >
            <mat-checkbox (change)="taskCompleted($event, Task)"></mat-checkbox>
          </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
          <mat-cell *matCellDef="let Task"> {{Task.title}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        <tr mat-row (click)="openDialog(taskList[0])"></tr>
      </mat-table>
    </mat-card>
  </div>
</div>
